body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Roboto', sans-serif;;
}

.header {
    background-color: #1F2937;
}

.header-top {
    display: flex;
    justify-content: space-between;
    margin: 0px 150px;
}

.logo > p {
    color: #F9FAF8;
    font-weight: ;
}

.nav > a {
    text-decoration: none;
    color: #F9FAF8;
}

