body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin-left: -1px;
    margin-top: -1px;
    font-family: 'Roboto', sans-serif;;
}


.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.header-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1 0 auto;
}


.logo > p {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
}

.nav > a {
    text-decoration: none;
    color: #F9FAF8;
    margin-left: 10px;
}


.hero {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 400px;
    align-items: center;
    flex-shrink: 1;
    flex-wrap: wrap;
}

.hero-image {
    height: 250px;
    width: 500px;
    background-color: gray;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -150px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    flex-basis: 450px;
    font-size: 18px;
}

.hero-container > div {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-container > .hero-bold-text {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

button {
    max-width: 100px;
    height: 30px;
    margin-top: 10px;
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}


.random-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

.random-article > p {
    font-size: 36px;
    color: #1F2937;
}

.random-panels {
    display: flex;
}

.random-panels > div {
    max-width: 150px;
    text-align: center;
    margin-left: 40px;
}

.empty {
    height: 150px;
    width: 150px;
    border: 3px solid #3882f6;
    border-radius: 15px;
    font-size: 18px;
}


.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    flex-basis: 500px; 
    justify-content: center;
}

.quote > .quote-text {
    max-width: 800px;
    font-size: 36px;
    font-style: italic;
}

.quote > .thor {
    align-self: center;
    font-weight: bold;
}