body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin-left: -1px;
    margin-top: -1px;
    font-family: 'Roboto', sans-serif;
}

.parent {
    min-height: 500px;
    max-width: 1000px;
    margin: auto;
}

/* ---------- HEADER ----------  */

.top-parent {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    flex-wrap: wrap;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo > p {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
}

.nav > a {
    text-decoration: none;
    color: #F9FAF8;
    margin-left: 10px;
}

/* ---------- HERO ---------- */

.hero {
    display: flex;
    flex-basis: 400px;
    flex-shrink: 1;
    flex-wrap: no-wrap;
    align-items: center;
    justify-content: space-between;
}

.hero-image {
    height: 250px;
    width: 500px;
    background-color: gray;
    color: #F9FAF8;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.hero-container {
    display: flex;
    flex-direction: column;
    flex-basis: 450px;
    font-size: 18px;
}

.hero-container > div {
    color: #e5e7eb;
    font-size: 18px;
    flex-shrink: 2;
}

.hero-container > .hero-bold-text {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

button {
    width: 100px;
    height: 30px;
    margin-top: 10px;
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

/* ---------- RANDOM ----------  */

.random-parent {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    justify-content: center;
}

.random-article {
    display: flex;
    flex-direction: column;
}

.random-article > p {
    font-size: 36px;
    color: #1F2937;
    align-self: center;
}

.random-panels {
    display: flex;
}

.random-panels > div {
    width: 150px;
    text-align: center;
    margin-left: 40px;
}

.empty {
    height: 150px;
    width: 150px;
    border: 3px solid #3882f6;
    border-radius: 15px;
    font-size: 18px;
}

/* ---------- QUOTE ----------  */

.quote-parent {
    display: flex;
    background-color: #E5E7EB;
    flex-basis: 500px; 
    justify-content: center;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote > .quote-text {
    width: 800px;
    font-size: 36px;
    font-style: italic;
}

.quote > .thor {
    align-self: center;
    font-weight: bold; 
    font-size: 36px;
    margin-left: 400px;
    margin-top: -50px;
}

/* ---------- CALL ----------  */

.call-text{
    color: #ffffff;
    font-weight: lighter;
}

p > span {
    font-weight: bold;
}

.call-to {
    height: 300px;
    width: 1000px;
    margin: auto;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.call-blue {
    background-color: #3882f6;
    height: 100px;
    width: 800px;
    border-radius: 10px;
}

button {
    border: 1px solid #ffffff;
    border-radius: 7px;
}